<form novalidate (ngSubmit)="onSubmit()" autocomplete="on">
  <h3>Напишіть Нам</h3>
  <mat-form-field>
    <input matInput placeholder="Ваше Ім'я" type="text" [(ngModel)]="userMessage.userName" name="username"
           [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field>
  <textarea matInput placeholder="Повідомлення" [(ngModel)]="userMessage.userText" name="message"
            [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>
  <mat-dialog-actions>
    <button type="submit" class="btn-submit">Надіслати</button>
  </mat-dialog-actions>
</form>
<mat-icon class="close" mat-dialog-close>close</mat-icon>
