<section class="search-section">
  <form>
    <h5>more than 3000 javascript / css plugins in CDN:</h5>
    <label for="search" class="search-label">
      <input matInput id='search' type="search"
             class="form-control"
             [formControl]="searchCake">
      <span class='spinner' *ngIf="loading"><mat-spinner></mat-spinner></span>
    </label>
  </form>

   <mat-list *ngIf="isSearchCakeResult">
     <mat-list-item  *ngFor="let result of searchCakeResult">
       <p matLine>{{result.name}}</p>
       <a matLine target="_blank" href="{{result.latest}}">{{result.latest}}</a>
     </mat-list-item>
   </mat-list>
</section>


