@import "../../../scss/mixin";
@include dialog();

mat-tab-group{
  ::ng-deep{
    mat-tab-header{
      margin-bottom:30px;
      ::ng-deep{
        .mat-tab-labels{
          .mat-tab-label{
            min-width: 50%;
          }
        }
        .mat-ink-bar {
          background-color: $black;
        }
      }
    }
    mat-tab-body{
      overflow:hidden !important;
      ::ng-deep{
        .mat-tab-body-content{
          overflow: hidden !important;
        }
        app-sign-in,app-sign-up{
          ::ng-deep{
            @include form();
          }
        }
      }
    }
  }
}

