//Custom Variables
$black: #212121;
$grey: #75849a;
$white: #ffffff;


//Material Variables
$primary-text-color: #212121;
$text-color: #75849a;
$tiffany: #212121;
$accent-color: #212121;
$lt-gray: $black;
$background-dark: $black;
$background-light: $black;
$background-pale: $black;
$primary-color-dark: $black;
$primary-color: $black;
$primary-color-light: $black;
$primary-color-text: $black;

$secondary-text-color: $black;
$divider-color: $black;
